#player {
    background-color: var(--black);
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    #video-holder {
        position: relative;

        video {
            width: 100%;
            height: auto;
            max-height: 100%;
        }
    }
}