#subtitle-hider {
    --width: 40%;
    width: var(--width);
    height: 12%;

    position: absolute;
    bottom: 6%;
    left: calc((100% - var(--width)) / 2);
    background-color: black;
}

#subtitle-hider.shown {
    display: block;
}


#subtitle-hider.hidden {
    display: none;
}

