.anime-row {
    width: 100%;
    flex-direction: column;

    .anime-row-title {
        text-align: center;
        background-color: crimson;
        font-size: 3rem;
    }

    .anime-row-items {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: safe center;
        gap: 20px;
        padding: 20px 20px;
        background-color: mediumpurple;
    }
}

.anime-row.one-line {
    .anime-row-items {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}