.anime-entry {
    width: fit-content;
    height: fit-content;

    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    .left-side {
        position: relative;
        width: 230px;
        height: 325px;

        .poster {
            width: 230px;
            height: 325px;
            display: block;
            background-color: var(--black);
        }

        .title {
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: var(--highlight-l2);
            font-size: 1.2rem;
            text-align: center;
            pointer-events: none;
        }

        .play-icon {
            display: none;
        }

        .info-button {
            display: none;
        }
    }

    .right-side {
        display: none;
    }
}

.anime-entry:hover {
    .left-side {
        .info-button {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 24px;
            padding: 1px 1px 2px 2px;
            margin: 0;
            border: 0;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 0 0 0 10px;
            cursor: context-menu;

            * {
                fill: var(--highlight)
            }
        }

        .play-icon {
            display: block;
            padding: 10px;
            width: 48px;
            height: 48px;

            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 15px;
            position: absolute;
            left: calc(50% - 34px);
            bottom: calc(50% - 34px);
            pointer-events: none;

            * {
                fill: var(--highlight)
            }
        }
    }
}

.anime-entry.detailed {
    border-radius: 15px;
    overflow: hidden;
    gap: 10px;
    background-color: var(--highlight-l1);

    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 10px 10px 0;

        .top {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .next-ep {
                width: 50px;
            }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            button {
                padding: 2px 5px;
                margin: 0;
                border: 0;
                border-radius: 5px;
                cursor: pointer;
            }

            .save-button {
                background-color: limegreen;
            }

            .close-button {
                background-color: crimson;
            }
        }
    }
}

.anime-entry.detailed:hover {
    .left-side {
        .info-button {
            display: none;
        }

        .play-icon {
            display: none;
        }
    }
}