.anime-row {
    display: flex;
    flex-direction: column;
    width: 100%;

    .anime-row-title {
        text-align: center;
        background-color: var(--black-l1);
        color: var(--highlight-d1);
        font-size: 2.5rem;
        border-style: dotted;
        border-width: 5px;
        border-color: var(--highlight-d1);
    }

    .anime-row-items {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: safe center;
        gap: 20px;
        padding: 20px 20px;
        background-color: var(--black-l2);
    }
}

.anime-row.one-line {
    .anime-row-items {
        overflow-x: auto;
        flex-wrap: nowrap;
        scrollbar-width: auto;
        scrollbar-color: var(--highlight-l1) var(--black-l1);
    }
}