#watch-page {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 85px);
    gap: 3%;

    #player-holder {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        line-height: 0;
    }

    #anime-info {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 15%;
        max-width: 200px;

        padding: 0 0 0 15px;
        color: var(--highlight-l2);
        text-align: center;
        border-style: dotted;
        border-left-width: 5px;
        border-top-width: 5px;
        border-bottom-width: 5px;
        border-right-width: 0;
        border-color: var(--highlight-l1);

        #side-cover {
            width: 100%;
        }
    }
}