#header {
    background-color: var(--highlight);
    margin: 0 0 10px 0;

    #home-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        gap: 10px;

        color: black;
        text-decoration: none;
        width: fit-content;

        #header-title-holder {
            display: flex;
            flex-direction: row;
            align-items: end;
            gap: 10px;

            #header-title {
                margin: 0;
            }

            #header-subtitle {
                margin: 0;
            }
        }
    }
}