:root {
    --highlight-l2: var(--yellow-l2);
    --highlight-l1: var(--yellow-l1);
    --highlight: var(--yellow);
    --highlight-d1: var(--yellow-d1);
    --highlight-d2: var(--yellow-d2);
    --highlight-d3: var(--yellow-d3);

    --black-l4: #808080;
    --black-l3: #606060;
    --black-l2: #404040;
    --black-l1: #2a2a2a;
    --black: #000000;

    --error: var(--purple-d2);
    --error-l1: var(--purple-d1);
    --error-l2: var(--purple);
    --error-l3: var(--purple-l1);

    --bear-fur-left: #D97C41;
    --bear-fur-right: #df8a57;
    --bear-fur-inside: #ffeab7;
    --bear-cheeks: pink;
    --bear-screen-edge: #787878;
    --bear-screen-default: #4df3ce;
    --bear-screen-error: var(--error-l1);
    --bear-screen-question: #7cfa70;
}

body {
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--black);
}