#player {
    background-color: crimson;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;

    #video-holder {
        position: relative;
        width: 100%;
        height: 100%;

        video {
            width: 100%;
            height: auto;
            max-height: 100%;
        }

        #subtitle-hider {
            --width: 40%;
            width: var(--width);
            height: 12%;

            position: absolute;
            bottom: 6%;
            left: calc((100% - var(--width)) / 2);
            background-color: cyan;
        }
    }

    #video-controls {
        background-color: rgba(0, 50, 200, 0.1);
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}