#video-controls {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    width: calc(100% - 2 * 3px);
    padding: 3px;
    gap: 5px;

    .single-button {
        margin: 0;
        border: 0;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
    }

    .bar {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 0 8px 0 0;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

#video-controls.shown {
    display: flex;
}

#video-controls.hidden {
    display: none;
}