#video-controls {
    flex-direction: row;
    align-items: center;

    background-color: rgba(0, 50, 200, 0.1);
    position: absolute;
    bottom: 0;
    width: 100%;

    #progress-holder {
        width: 60%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        #progress {
            width: stretch;
            cursor: pointer;
            accent-color: goldenrod;
        }
    }

    #volume {
        cursor: pointer;
    }
}

#video-controls.shown {
    display: flex;
}

#video-controls.hidden {
    display: none;
}