#subtitle-hider {
    --width: 40%;
    width: var(--width);
    height: 12%;

    position: absolute;
    bottom: 6%;
    left: calc((100% - var(--width)) / 2);
    background-color: black;
    overflow: hidden;

    .hider-star {
        width: 13%;
        transform: rotate(45deg);
        position: absolute;

        * {
            fill: rgba(255, 255, 255, 0.2);
        }
    }
}

#subtitle-hider.shown {
    display: block;
}


#subtitle-hider.hidden {
    display: none;
}

